.grade-1 {
    background-color: #FA2601;
}

.grade-2 {
    background-color: #FA8A00;
}

.grade-3 {
    background-color: #FFEB00;
}

.grade-4 {
    background-color: #27AB00;
}

.purple {
    background-color: purple;
}