<script type="text/javascript">
    function info_call_cancel(){
        var ats_call_id = $("#ats-call-id").val();

        if(ats_call_id){
            $.ajax({
                type: "post",
                url: "{{ path('call_outcome_ajax') }}",
                data: { action: "info_call_cancel", receiver: "drop", linked_id: ats_call_id },
                complete: function(data){
                    $("#income-call-info").modal("hide");
                },
                dataType: 'json'
            });
        }
    }
</script>

<div id="income-call-info" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="income-call-info" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="info_call_cancel();">×</button><br />
        <input type="button" class="btn btn-small btn-warning" id="info-call-cancel" name="info-call-cancel" value="Отклонить звонок" onclick="info_call_cancel();" />
    </div>
    <div class="modal-body">
        <p>У вас входящий звонок от абонента: <span id="income-call-info-caller-phone"></span></p>
    </div>
</div>