{% if admin.hasRoute('print') %}
    <a id="duty-print-button" class="btn sonata-action-element" href="{{ admin.generateUrl('print', {'duty_period': "now"|date("Y-m")} ) }}">
        <i class="icon-print"></i>
        Печать
    </a>
{% endif %}