{% block stylesheets %}
    <style type="text/css" media="print">
        .no-print{
            display: none;
        }
    </style>
{% endblock %}

<body>
    <div class="no-print" style="margin-bottom: 20px; margin-right: 30px; text-align: right; font-size: 18px;">
        <a href="{{ admin.generateUrl('list') }}">Вернуться</a>
    </div>

    {% set page_break = 0 %}

    {% for branch_name, managers in duty %}
        {% for manager_name, duty_days in managers %}
            {%
                set params = {
                    'duty_month': duty_month,
                    'branch_name': branch_name,
                    'manager_name': manager_name,
                    'page_break': page_break
                }
            %}

            {% include '@ApplicationSonataUser/CRUD/duty_page_header.html.twig' with params %}

            {% set counter = 0 %}

            {% for day, duty_times in duty_days %}
                {%
                    set duty_day_params = {
                        'duty_day': day,
                        'item_day': duty_times,
                        'duty_min_hour': duty_min_hour,
                        'duty_max_hour': duty_max_hour
                    }
                %}

                {% set params = params + {'page_break': 1} %}

                {% if counter == 4 %}
                    {% include '@ApplicationSonataUser/CRUD/duty_page_footer.html.twig' %}

                    <div style="clear: both; padding-top: 30px;"></div>

                    {% include '@ApplicationSonataUser/CRUD/duty_page_header.html.twig' with params %}

                    {% set counter = 0 %}
                {% endif %}

                {% include '@ApplicationSonataUser/CRUD/duty_day.html.twig' with duty_day_params %}

                {% set counter = counter + 1 %}
            {% endfor %}

            {% include '@ApplicationSonataUser/CRUD/duty_page_footer.html.twig' %}

            <div style="clear: both; padding-top: 30px;"></div>

            {% set page_break = 1 %}

        {% endfor %}
    {% endfor %}
</body>