#phone-type{
    margin-top: 20px;
    font-weight: bold;
}

.modal-body label{
    font-weight: bold;
}

#income-call-info .modal-body{
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.ui-autocomplete{
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    cursor: default;
    z-index: 1500 !important;
    padding-right: 20px;
}

#phone-type div.btn-group{
    margin-top: 10px;
}

.required-buttons{

}