{% if admin.isGranted('CALL', object) and admin.hasRoute('call_to_user_phone') %}
    {% if app.user.isAdministrator() or app.user.isDirector() or app.user.isManager() %}
        <script type="text/javascript">
            function call_to_verified_phone(){
                $.ajax({
                    type: "post",
                    async: false,
                    url: "{{ admin.generateObjectUrl('call_to_user_phone', object) }}",
                    success: function(response){

                    },
                    statusCode: {
                        400: function(){
                            alert("Вызов на номер не удался в связи с технической ошибкой.");
                        },
                        403: function(){
                            alert("Вызов на номер не удался в связи с ошибкой на АТС.");
                        },
                        405: function(){
                            alert("Вызов на номер не удался. Не санкционированный доступ к функционалу.");
                        }
                    },
                    dataType: 'json'
                });
            }
        </script>

        <a class="btn delete_link btn-small" title="Позвонить" onclick="call_to_verified_phone();">
            <i class="icon-bell"></i>
        </a>
    {% endif %}
{% endif %}