<a id="duty-filter-button" class="btn sonata-action-element" href="#duty-filter-container" role="button" class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <i class="icon-filter"></i>
    Фильтры
</a>