<a class="btn sonata-action-element" href="#create-edit-container" id="create-edit-button" role="button" class="btn" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <i class="icon-plus"></i>
    {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
</a>