{% if admin.hasRoute('edit') and admin.id(object) and admin.isGranted('EDIT', object)%}
    <a class="btn edit_link btn-small sonata-action-element" href="{{ admin.generateObjectUrl('edit', object) }}">
        <i class="icon-edit"></i>
    </a>
{% endif %}